@{
    ViewData["Title"] = "Main Page";
}

<header class="banner-color rounded py-5">
<div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">AutoMart</h1>
            <p class="lead fw-normal text-white-50 mb-0">- "AutoMart: Your Premier Destination for Quality Vehicles" -</p>
    </div>
</div>
</header>
<br />
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    @foreach (var Vehicle in ViewBag.Vehicles) 
    {
        @if(Vehicle.Approved)
        {
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="@Vehicle.Photo" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">@Vehicle.Title</h5>
                            <div class="d-flex justify-content-center small mb-2">
                                <i class="bi bi-star-half"></i> @Vehicle.Rating/5
                            </div>
                            <i class="bi bi-tag"></i> @Vehicle.Price
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-secondary mt-auto" href="/Vehicles/Show/@Vehicle.VehicleId">View Vehicle</a></div>
                    </div>
                </div>
            </div>
        }
    }

</div>

<div class="text-center">To view more Vehicles, please register!</div>
